h1, h2 {
    text-align: center;
}

div {
    cursor: default;
}

.container {
    padding-top: 3rem;
}

.header-container {
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.title {
    padding-bottom: 2rem;
}

.canvas-container {
    display: flex;
    position: relative;
    justify-content: center;
}

canvas {
    border:3px solid;
}

.side-cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 15%;
    outline: 6px solid;
}

.left-side {
    left: 0;
}

.right-side {
    right: 0;
}